.DS_Store
wp-content/plugins/*
wp-content/themes/*
wp-content/uploads/*
.idea
composer.lock
vendor
.env
.env-*
yarn.lock

!.env-sample
!wp-content/themes/tenancy.php
!wp-content/themes/insane
!wp-content/themes/insane-child